<main>
  <section>
    <ul>
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>
        <li class="card hover">
          <% if user.photo.present? %>
            <%= image_tag(user.photo, class: "user-image border") %>
          <% else %>
            <!-- Provide a placeholder image or default image here if 'user.photo' is nil -->
          <% end %>
          <div class="user-data border">
            <h1><%= user.name %></h1>
            <p class="number-posts"><%= user.posts_counter %> Posts</p>
            <!-- Other user data and content -->
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>
  </section>
</main>
